.constructor_container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 16px;
}
.constructor_list {
  composes: constructor_container;
  max-height: 464px;
  overflow-x: hidden;
  overflow-y: scroll;
}

:global(.constructor-element) {
  max-width: none;
  width: 100%;
  min-height: unset;
  height: 80px;
}
