.constructor_container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 16px;
}
.constructor_list {
  composes: constructor_container;
  max-height: 464px;
  min-height: 464px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
  background-color: #1c1c21;
  border-radius: 10px;
  position: relative;
}

.plus_bg{
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 41px);
  font-weight: bold;
  font-size: 72px;
  opacity: 0.5;
  z-index: 1;
}
.cta_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cta_container svg {
  height: 36px;
  width: 36px;
}

.price_block {
  composes: cta_container;
}

:global(.constructor-element) {
  max-width: none;
  width: 100%;
  min-height: unset;
  height: 80px;
}
