.wrapper{
  display: flex;
  width: 480px;
  flex-direction: column;
  gap: 24px;
  margin: 180px auto;
  text-align: center;
}
:global(.input_size_default),
:global(.input__container) {
    width: 100%;
}

:global(button){
    width: fit-content;
    display: block;
    margin: 0 auto;
}

.cta :global(button){
    padding: 0;
    display: inline-block;
    padding-left: 8px;
}