header {
  background-color: #1c1c21;
}
nav {
  padding: 16px 0;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  max-width: 1240px;
  margin: 0 auto;
}

a svg {
  margin-right: 8px;
}

a {
  display: flex;
  align-items: center;
}

.logo {
  padding: 0;
  margin-left: 112px;
}

.logo svg {
  margin-right: 0;
}

.icon_button_1,
.icon_button_2 {
  line-height: 24px;
  padding: 16px 20px;
}
.icon_button_1 {
  color: #f2f2f3;
}
.icon_button_2 {
  color: #8585ad;
}
